
html {scroll-behavior: smooth;}

body{font-family:  "Poppins", "Poppins Placeholder", sans-serif; top: 0 !important;}
.navbar-brand{font-size: 25px; width: 100%; color: rgb(42, 76, 227) !important;}
.navbar {top: 0; z-index: 10; height: 100px !important; color: rgb(51, 111, 251) !important; background-color: white !important; transition: background-color 0.3s ease !important;}

.about-us-title{position: sticky !important; top: 100px !important;  font-size: 10vw !important;}
.text-secondary.h3{font-size: 100px !important;}
.nav-link {font-size: 18px !important; position: relative; color: rgb(89, 117, 240) !important; text-decoration: none; padding-bottom: 4px; transition: color 0.3s ease;}
.nav-link::after {content: ''; position: absolute; left: 0; bottom: 0; width: 0; height: 2px; background-color: rgb(42, 76, 227); transition: width 0.3s ease;}
.nav-link:hover { color: rgb(42, 76, 227) !important;}
.nav-link:hover::after { width: 100%; }
.navbar-collapse{width: 100%; }
.navbar-collapse ul{width: 100%; display: flex; align-items: center; justify-content: space-between;}

#myVideo{position: absolute !important; top: 0 !important; left: 0 !important;  min-width: 100vw !important; min-height: 100vh !important; object-fit: cover !important}
.main-container{padding-right: 14rem !important; padding-left: 14rem !important; background-color: rgb(230, 230, 230) !important;}
.site-index{position: relative; height:100vh;  overflow: hidden;}
.hero-banner-text{position: absolute;  bottom: -10%; left: 20%; transform: translate(-50%, -50%); color: rgb(0, 0, 0); text-align: center; z-index: 2; padding: 20px; font-size: 50px;}
#service-button{margin-top: 2rem; display: inline-block; text-decoration: none; width: fit-content;}
.hero-content{position: relative; z-index: 1; min-height: 100vh; display: flex; flex-direction: column; justify-content: center; color: rgb(249, 249, 249);}

.about-us-content{ color: rgb(102, 102, 102); font-size: 20px;}

.team{background-color: rgb(230, 230, 230) !important; color: rgb(0, 0, 0) !important;}
.scroll-wrapper {
    overflow-x: hidden;
    padding: 20px;
  }
  
  .scroll-track {
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    min-width: max-content;
    animation: scrollLeft 30s linear infinite;
  }
.team-card {
    flex-direction:row !important;
    background-color: rgb(255, 255, 255) !important;
    color: #000000 !important;
    border-color: rgb(0, 0, 0) !important;
    padding: 1.5rem;
    border-radius: 150px !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    max-width: 700px !important;
    margin: 10px !important;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* .scroll-wrapper:hover .scroll-track {
    animation-play-state: paused;
} */

.accordion{--bs-accordion-btn-padding-y: 2rem !important }
.accordion-button:not(.collapsed){background-color: white !important; box-shadow: none !important; color:  rgb(89, 117, 240) !important;}
.accordion-item{ border: none !important; }
.accordion-header button{font-size: 28px !important; }
.accordion-button { border: none; border-top: 1px solid black !important; border-radius: 0 !important; }
.accordion-body{font-size: 22px !important; color: rgb(125, 125, 125)}

.footer{background-color: rgb(0, 0, 0); padding-top: 13rem !important;}
.icons p:hover{color: rgb(89, 117, 240) !important;}
.talk{background-color: rgb(230, 230, 230) !important; position: absolute; top: 170px; border-radius: 20px !important;}
.talk .form-control{border-radius: 50px !important; height: 90px !important; font-size: 20px !important; padding-left: 3rem;}
.talk form input::placeholder { color: rgb(0, 0, 0) !important;}
.talk form textarea::placeholder {color: rgb(0, 0, 0) !important;}
  
/* .service-container{background-color: rgb(237, 108, 72);} */
.btn-service{border-radius: 0px !important; color: rgb(89, 117, 240) !important;}
.btn-service:hover{background-color: rgb(255, 255, 255) !important; color: rgb(89, 117, 240) !important; border-color: rgb(255, 255, 255) !important;}
/* .industries{background-color: rgb(198, 198, 198);} */
.about-us-col{padding-right: 0px !important}
.about{background-color: rgb(102, 102, 102);}
.masonry .card:hover{ box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;}
.service-card:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;}

@media only screen and (max-width: 600px) {
  .main-container{padding-right: 0rem !important; padding-left: 0rem !important; background-color: rgb(230, 230, 230) !important;}
  .text-secondary.h3{font-size: 20vw !important;}
}